/** style.css - Matthew Smith - project **/

@import url(https://fonts.googleapis.com/css?family=Metrophobic|Cinzel);

/* elements */

html{
	background: repeating-linear-gradient(
		45deg,
		#fcfcfc,
		#fcfcfc 10px,
		#fff 10px,
		#fff 20px
	);
}

body {
	width: 95%;
	padding: 10px 10px;
	margin: 0 auto;
	color: #242424;
	max-width: 940px;
	font-family: 'Metrophobic', sans-serif;
	background: white;
}

h1{
	font-family: 'Cinzel', serif;
	font-weight: normal;
	margin-bottom: 15px;
	text-align: center;	
	font-size: 2.5em;

}

address{
	color: #4F4F4F;
	margin: 10px auto;
	text-align: center;	
}

address p,a{
	margin: 5px auto;
}

nav ul{
	display: table;
	width: 100%;
}

nav li{
	width: 25%;
	text-align: center;
	display: table-cell;
}

nav a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
}

ul{padding-left: 0px;}

li{list-style-type: none;}

a:default{color: #002D4C;}

a:hover{color: #242424;}

a:active{color: #001E33;}

a:visited{color: #00528C;}

h2{
	border-bottom: 2px solid #2F2F2F;
	padding-left: 5%;
}

h3, th{
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
}

h3{
	margin: 20px 0 0 0;
	line-height: 1;
}

article p{
	margin: 2px 0;
	font-size: 14px;
	font-style: italic;
}

article li::first-letter{
	font-weight: 600;
	color: #414141;
}

table{
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}